.nav{
    font-family: 'Anton';
}

header{
    padding: 150px;
    background-color: rgb(192, 173, 3);
    margin-bottom: 100px;
}

body > header > div > h1{
    font-family: 'Lexend Peta';
    font-size: 60px;
    color: white;
}

body > header > div > h5{
font-family: Dancing Script;
color: rgba(216, 140, 25, 0.925);
font-size: 30px;
}

body > div.container.text-center.my-5.use > h1{
    font-family: Lobster;
    color: rgb(192, 173, 3);
    font-size: 60px;
}

.cont{
    color: gray;
    font-size: 25px;
    margin-bottom: 100px;
}

.cont ol{
    list-style-type: none;
}

.cont ol li{
    border-left: 2px solid gold;
    margin-bottom: 20px;
    padding-left: 10px;
}

#output_image
{
 width:300px;
 height: 300px;
}

#output_image1
{
 width:300px;
 height: 300px;
}